<hr />

<!-- ONLY if hero is definded (not null), display the following div element !-->
<div *ngIf="hero">
  <!-- if 'edit' is true; display edit view; display details-only view otherwise (by default edit is false) !-->

  <!-- ####### -->
  <!-- CONTENT -->

  <!-- EDIT VIEW BEGIN !-->
  <div *ngIf="edit; else viewDetails">
      <h2>{{ hero.name | uppercase }} Details</h2>
      <div><span>id: </span>{{hero.id}}</div>
      <div>
        <label>name: 
          <input [(ngModel)]="hero.name" placeholder="name"/>
        </label>
      </div>
      <div>
        <label>email: 
            <input [(ngModel)]="hero.email" placeholder="example@example.com"/>
        </label>
      </div>
      <div>
        <label>freelancer: 
          <input [(ngModel)]="hero.freelancer" type="checkbox"/>
        </label>
      </div>
      <div>
        <label>
          languages:
        </label>
        <span>

          <ul class="list-group">
            <li class="list-group-item" *ngFor="let l of hero.languages">
              counter: {{l}} --- 
              {{languageToString(l)}}
              <span>
                <input [(ngModel)]="hero.languages[l]" type="checkbox">
              </span>
            </li>
          </ul>

        
          <!--
          <li class="list-inline-item" *ngFor="let l of hero.languages">
            <span>
              A: {{l}}, B: {{languageToString(l)}}
            </span>
            <span>
                <input [(ngModel)]="hero.languages[l]" type="checkbox">    
            </span>

          </li>
        !-->


        </span>
      </div>
  </div>
  <!-- EDIT VIEW END !-->

  <!-- DETAILS VIEW BEGIN !-->
  <ng-template #viewDetails>
    <div class="container">
      <p class="h2">
        Hero details
      </p>
      <div class="table table-striped">
        <tbody>
          <tr>
            <td>
              name:
            </td>
            <td>
              {{hero.name}}
            </td>
          </tr>
          <tr>
            <td>
              id:
            </td>
            <td>
              {{hero.id}}
            </td>
          </tr>
          <tr>
            <td>
              email:
            </td>
            <td>
              {{hero.email}}
            </td>
          </tr>
          <tr>
            <td>
              freelancer:
            </td>
            <td>
                <div *ngIf="hero.freelancer; else notFreelancer">
                    <span class="glyphicon glyphicon-check"></span>
                </div>
                <ng-template #notFreelancer>
                    <span class="glyphicon glyphicon-unchecked"></span>
                </ng-template>
            </td>
          </tr>
          <tr>
            <td>
              languages
            </td>
            <td>
              <ul class="list-inline" *ngIf="hero.languages">
                <li class="list-inline-item" *ngFor="let l of hero.languages">
                  {{languageToString(l)}}
                </li>
              </ul>
            </td>
          </tr>

        </tbody>
      </div>
    </div>
  </ng-template>
  <!-- DETAILS VIEW END !-->

  <!-- ####### -->
  <!-- ACTIONS -->

  <hr />

  <h3>
    Actions:
  </h3>

  <!-- TOGGLE edit / discard changes buttons !-->
  <div *ngIf="edit; else displayEditButton">
    <button (click)="save()" class="btn btn-primary btn-md">
      Save
    </button>
    <button (click)="setEdit(false)" class="btn btn-default btn-md">
      Discard changes
    </button>
  </div>
  <ng-template #displayEditButton>
    <button (click)="setEdit(true)" class="btn btn-warning btn-md">
      Edit
      <!-- <span class="glyphicon glyphicon-wrench"></span> !-->
    </button>
  </ng-template>

</div>
<hr />